<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body>

     <div class="header" id="header">
      <nav class="navbar navbar-inverse"  id="slide-nav">
        <div class="container relative">
            <div class="navbar-header">
                <h4 style="color: white;">Bookers</h4>
            </div>
              <div id="slidemenu">
                <ul class="nav navbar-nav navbar-right">
                  <li class="/">
                    <% if user_signed_in? %>
                      <%= link_to user_path(current_user) do%>
                      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
                      <%end%>
                  </li>
                  <li class="/users">
                      <%= link_to users_path do%>
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Users
                      <%end%>
                  </li>
                  <li class="/books">
                      <%= link_to books_path do%>
                      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Books
                      <%end%>
                  </li>
                  <li class="/users/sign_out">
                      <%= link_to destroy_user_session_path, method: :delete do%>
                      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>logout
                      <%end%>

                      <% else %>

                      <li class="/home/top">
                      <%= link_to root_path do%>
                      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
                      <%end%>
                  </li>
                  <li class="/home/about">
                      <%= link_to  home_about_path do%>
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span>About
                      <%end%>
                  </li>
                  <li class="/users/sign_up">
                      <%= link_to new_user_registration_path do%>
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>sign up
                      <%end%>
                  </li>
                  <li class="/users/sign_in">
                      <!-- <a><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> -->
                      <%= link_to destroy_user_session_path do%>
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>login
                      <%end%>
                      <!-- </a> -->

                      <% end %>
                  </li>
                </ul>
              </div>
        </div>
      </nav>
    </div>

    <%= yield %>

    <footer>

      <p class='col-xs-3 col-xs-offset-9'>CopyRight Infratop.inc</p>
    </footer>

  </body>
</html>
